.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:6px;
  height: 50vh; /* Đảm bảo spinner ở giữa trang */
}

.spinnerProcessing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:6px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #EB455F;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.spinnerWhite {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
